/* Accordion styles */
.input-narrow {
  max-width: 50px;
}

/* .columns {
  padding-left: 0px;
  padding-right: 0px;
} */

#buttonAddNewArcher {
  margin-top: 0px;
}

.field {
    margin-bottom: 15px;
}

.container {
    max-width: 730px;
}
